<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <!-- https://ionicframework.com/docs/v3/components/#icons -->
      <ion-icon name="menu"></ion-icon>

    </button>
    <ion-title>Carrinho</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img [src]="item.produto?.imageURL || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <h2>{{item.produto.nome}}</h2>
      <p> {{item.produto.preco | currency:"BRL":true:"1.2" }}</p>
      <ion-icon class="no_line_break" name="add-circle" color="primary" (click)="incrementarProduto(item.produto)">
      </ion-icon>
      <p class="no_line_break">{{item.quantidade}}</p>
      <ion-icon class="no_line_break" name="remove-circle" color="primary" (click)="decrementarProduto(item.produto)">
      </ion-icon>
      <ion-icon class="no_line_break" name="trash" color="danger" (click)="removerItem(item.produto)" item-end>
      </ion-icon>


    </ion-item>
    <ion-item *ngIf="total()> 0">
      <h1>Total : {{total() | currency:"BRL":true:"1.2" }}</h1>

    </ion-item>
    <!-- ELSE-->
    <ion-item *ngIf="total() == 0">
      <h2> Seu carrinho está <strong>vazio</strong>.</h2>
    </ion-item>
  </ion-list>

  <ion-item>
    <button ion-button (click)="continuarComprando()">Continuar Comprando</button>
  </ion-item>
  <ion-item *ngIf="total() != 0">
    <button ion-button (click)="finalizarPedido()" color="secondary">Finalizar Pedido</button>
  </ion-item>
</ion-content>